:root {
  --black-main: #28272D;
  --light-grey: #D7D7D9;
  --dark-grey: #7F7E82;
  --regular-grey: #A7A7AA;
  --regular-white: #fff;
}



/* ** Styles for hamburger */
#checkbox_toggle {
  display: none;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

.hamburgerLine {
  display: block;
  background-color: #F1F2F1;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamburgerLine::before,
.hamburgerLine::after {
  background-color: #F1F2F1;
  content: "";
  display: block;
  position: absolute;
  transition: all .3s;
  width: 100%;
  height: 100%;
}

.hamburgerLine::before {
  top: 7px;
}

.hamburgerLine::after {
  top: -7px;
}

@media (max-width: 980px) {
  .header-right-half {
      display: none;
      max-height: 0;
      overflow: hidden;
      position: absolute;
      background-color: var(--black-main);
      color: var(--light-grey);
      text-align: center;
      margin-top: 180px;
      right: 0;
      left: 0;
  }

  .hamburger {
      display: block;
      padding: 10px 0;
      margin-right: 20px;
  }

  #checkbox_toggle:checked ~ .header-right-half {
      display: block;
      max-height: 100%;
      transition: all .5s;
  }

  #checkbox_toggle:checked ~ .hamburger .hamburgerLine {
      background-color: transparent;
  }

  #checkbox_toggle:checked  ~ .hamburger .hamburgerLine::before {
      transform: rotate(45deg);
      top: 0;
  }

  #checkbox_toggle:checked  ~ .hamburger .hamburgerLine::after {
      transform: rotate(-45deg);
      top: 0;
  }
}

@media (max-width: 375px) {
  .product-item {
    margin: 0 0 50px;
  }
}